n8n/Agentic PR Test.json
{
  "name": "Agentic PR Test",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful manual tester that needs to make sure the pull request can be merged by performing a set of functional tests.\n\nYou mission is:\n\n- You will first retrieve the preview environment on Vercel via the comments on  {{ $json.output[\"pull-request-comments-url\"] }} its part of the [Visit preview] and ends with `.vercel.app`\n\n- You can use tools from Airtop to validate all testcases. Below is a set of how to best use these tools.\n\n- Do not test any other test not mentioned within the testcases.\n\n- Make sure to output if the tests were a success and provide a detailed description of the run. What was executed and what was validated upon.\n\nHow to use Airtop tools:\n\n## Start the browser\nYou should always start by using the `Start browser` tool to get the `sessionId` and `windowId` required by other tools.\n\n## Use the `Query` tool\nYou don't have access to the browser screen but you can call the `Query` tool to get knowladge and hints of the current browser window. This tool accepts queries in natural language and can output information in plain text, markdown or JSON.\n\n## Use the `Click` tool\nUse the `Click` tool to click on an element on the web page. Describe the element in details in the \"Element Description\" field, Be specific and refer to elements that are on the page. \n\n## Use the `Type` tool\nUse the `Type` tool to type in text boxes. Describe the text box in \"Element Description\" field and the text to type in the \"Text\" field. The 'Type' tool is clicking Enter after typing the text so don't send [ENTER] commandes.\n\n### Examples for how to use the `Query` tool\n- Ask something about the current page:\n  \"Is the user logged in? Answer with Yes or No\"\n- Retrieve information:\n  \"Extract all the posts in the page, include the title and copy, output in JSON format\"\n- Get hints on the UI:\n  \"Is there a link to the contact form? If yes, describe the element in detail\"\n\n## Important\n- Start by calling `Start browser` to begin using the browser and provide the initial URL\n- Call `End session` with the `sessionId` once you have finished using the browser",
          "maxIterations": 35
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [2080, 420],
      "id": "960b31a5-3a74-4560-9a5e-3b2863737de0",
      "name": "Browser Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful ISTQB certified assistant that creates a set of test cases that need to be tested in a later stage by a different AI agent.\n\nYou can make HTTP requests to retrieve the file diffs of the pull request via {{ $json.user_message.diff_url }}\n\nYou can gather both the issue number of the pull request: {{ $json.user_message.number }} And if a issue is mentioned within the commit message ({{ $json.user_message.title }}) or comment also retrieve the issue number which is related to the PR.\n\nYour mission:\n\n- Review the proposed code changes file by file and by significant modification.\n\n- Come up with a list of test cases based on the functionalities of the pull request and the the related issue within GitHub.\n\n- Use the GitHub issue tool to get the contents of the SCRUM issue. Which contains acceptance criteria to base the test cases on.\n\n- Only output the test cases to perform. A different AI agent will use the browser to perform these testcases at a later stage. Make sure the output is detailed enough so the next agent knows what to do and where to assess / validate on.\n\n- Don't make up any testcases for functionality which is not directly touched, or not mentioned as acceptance criteria.\n\n- If the code changes are not functional. e.g. but only a change in readme, external files, comments (also ignore comments in js or html files etc.), tests etc. Output that `needs-testing` is false.\n\n- If `needs-testing` is true it should always contain some test cases."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [772, 420],
      "id": "9b9e45df-ee0c-4fc1-b8fa-c2d5423849c1",
      "name": "Testplan Agent"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "grvermeulen",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "CCS-demo",
          "mode": "name"
        },
        "events": ["pull_request"],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [240, 620],
      "id": "8c073c40-9f45-4709-b5e8-045a5c6ce65c",
      "name": "Github Trigger",
      "webhookId": "f02079a7-2d87-4c21-b85d-3af539244853",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes a HTTP request and returns the contents",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [800, 640],
      "id": "74a0a633-c186-4499-9bf0-0e8e801785af",
      "name": "HTTP Request File Diffs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 320],
      "id": "a5300524-862e-4f5f-a85f-9c42b874bfb6",
      "name": "GitHub Trigger Mock"
    },
    {
      "parameters": {
        "jsCode": "// Get the input item\nconst item = $input.first().json;\n\n// Extract the pull_request object\nconst pull_request = item.body.pull_request;\n\n// Return structured output\nreturn {\n    user_message: {\n        \"number\": pull_request.number,\n        \"title\": pull_request.title,\n        \"issue_url\": pull_request.issue_url,\n        \"diff_url\": pull_request.diff_url,\n        \"comments_url\": pull_request.comments_url\n    }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 420],
      "id": "850fdd8c-244a-4610-8248-8b96af7a2665",
      "name": "Prepare Testplan Agent Input"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get mentioned related Scrum issue from commit title",
        "authentication": "oAuth2",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "grvermeulen",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "CCS-demo",
          "mode": "name"
        },
        "issueNumber": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Number', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [920, 640],
      "id": "4c312caa-ce58-4fd0-8a2c-ebceb07c19cd",
      "name": "Get Issue",
      "webhookId": "3301c2fc-e9a1-4bef-84de-f4bcaab27b10",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b62a9f96-dc75-4d62-acb8-b0e5e2699f48",
              "leftValue": "={{ $json.output[\"needs-testing\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1240, 420],
      "id": "e91ca660-8355-49ee-91b1-07cb723d209a",
      "name": "Needs testing?"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"body\": {\n      \"action\": \"opened\",\n      \"number\": 4,\n      \"pull_request\": {\n        \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/4\",\n        \"id\": 2598608818,\n        \"node_id\": \"PR_kwDOO6HOac6a45-y\",\n        \"html_url\": \"https://github.com/grvermeulen/CCS-demo/pull/4\",\n        \"diff_url\": \"https://github.com/grvermeulen/CCS-demo/pull/4.diff\",\n        \"patch_url\": \"https://github.com/grvermeulen/CCS-demo/pull/4.patch\",\n        \"issue_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/4\",\n        \"number\": 4,\n        \"state\": \"open\",\n        \"locked\": false,\n        \"title\": \"chore: small changes\",\n        \"user\": {\n          \"login\": \"grvermeulen\",\n          \"id\": 30321659,\n          \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n          \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n          \"gravatar_id\": \"\",\n          \"url\": \"https://api.github.com/users/grvermeulen\",\n          \"html_url\": \"https://github.com/grvermeulen\",\n          \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n          \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n          \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n          \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n          \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n          \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n          \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n          \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n          \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n          \"type\": \"User\",\n          \"user_view_type\": \"public\",\n          \"site_admin\": false\n        },\n        \"body\": null,\n        \"created_at\": \"2025-06-17T12:05:18Z\",\n        \"updated_at\": \"2025-06-17T12:05:18Z\",\n        \"closed_at\": null,\n        \"merged_at\": null,\n        \"merge_commit_sha\": null,\n        \"assignee\": null,\n        \"assignees\": [],\n        \"requested_reviewers\": [],\n        \"requested_teams\": [],\n        \"labels\": [],\n        \"milestone\": null,\n        \"draft\": false,\n        \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/4/commits\",\n        \"review_comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/4/comments\",\n        \"review_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/comments{/number}\",\n        \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/4/comments\",\n        \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/de13a77da01ca5d3d3007bee95ba0e35848d9c1b\",\n        \"head\": {\n          \"label\": \"grvermeulen:small-change\",\n          \"ref\": \"small-change\",\n          \"sha\": \"de13a77da01ca5d3d3007bee95ba0e35848d9c1b\",\n          \"user\": {\n            \"login\": \"grvermeulen\",\n            \"id\": 30321659,\n            \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n            \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n            \"gravatar_id\": \"\",\n            \"url\": \"https://api.github.com/users/grvermeulen\",\n            \"html_url\": \"https://github.com/grvermeulen\",\n            \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n            \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n            \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n            \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n            \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n            \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n            \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n            \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n            \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n            \"type\": \"User\",\n            \"user_view_type\": \"public\",\n            \"site_admin\": false\n          },\n          \"repo\": {\n            \"id\": 1000459881,\n            \"node_id\": \"R_kgDOO6HOaQ\",\n            \"name\": \"CCS-demo\",\n            \"full_name\": \"grvermeulen/CCS-demo\",\n            \"private\": false,\n            \"owner\": {\n              \"login\": \"grvermeulen\",\n              \"id\": 30321659,\n              \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n              \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n              \"gravatar_id\": \"\",\n              \"url\": \"https://api.github.com/users/grvermeulen\",\n              \"html_url\": \"https://github.com/grvermeulen\",\n              \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n              \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n              \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n              \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n              \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n              \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n              \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n              \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n              \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n              \"type\": \"User\",\n              \"user_view_type\": \"public\",\n              \"site_admin\": false\n            },\n            \"html_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"description\": null,\n            \"fork\": false,\n            \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo\",\n            \"forks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/forks\",\n            \"keys_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/keys{/key_id}\",\n            \"collaborators_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/collaborators{/collaborator}\",\n            \"teams_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/teams\",\n            \"hooks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/hooks\",\n            \"issue_events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/events{/number}\",\n            \"events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/events\",\n            \"assignees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/assignees{/user}\",\n            \"branches_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/branches{/branch}\",\n            \"tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/tags\",\n            \"blobs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/blobs{/sha}\",\n            \"git_tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/tags{/sha}\",\n            \"git_refs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/refs{/sha}\",\n            \"trees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/trees{/sha}\",\n            \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/{sha}\",\n            \"languages_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/languages\",\n            \"stargazers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/stargazers\",\n            \"contributors_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contributors\",\n            \"subscribers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscribers\",\n            \"subscription_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscription\",\n            \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/commits{/sha}\",\n            \"git_commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/commits{/sha}\",\n            \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/comments{/number}\",\n            \"issue_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/comments{/number}\",\n            \"contents_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contents/{+path}\",\n            \"compare_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/compare/{base}...{head}\",\n            \"merges_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/merges\",\n            \"archive_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/{archive_format}{/ref}\",\n            \"downloads_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/downloads\",\n            \"issues_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues{/number}\",\n            \"pulls_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls{/number}\",\n            \"milestones_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/milestones{/number}\",\n            \"notifications_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/notifications{?since,all,participating}\",\n            \"labels_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/labels{/name}\",\n            \"releases_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/releases{/id}\",\n            \"deployments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/deployments\",\n            \"created_at\": \"2025-06-11T20:22:03Z\",\n            \"updated_at\": \"2025-06-11T20:27:01Z\",\n            \"pushed_at\": \"2025-06-17T12:05:06Z\",\n            \"git_url\": \"git://github.com/grvermeulen/CCS-demo.git\",\n            \"ssh_url\": \"git@github.com:grvermeulen/CCS-demo.git\",\n            \"clone_url\": \"https://github.com/grvermeulen/CCS-demo.git\",\n            \"svn_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"homepage\": \"https://CCS-demo.vercel.app\",\n            \"size\": 263,\n            \"stargazers_count\": 0,\n            \"watchers_count\": 0,\n            \"language\": \"HTML\",\n            \"has_issues\": true,\n            \"has_projects\": true,\n            \"has_downloads\": true,\n            \"has_wiki\": true,\n            \"has_pages\": false,\n            \"has_discussions\": false,\n            \"forks_count\": 0,\n            \"mirror_url\": null,\n            \"archived\": false,\n            \"disabled\": false,\n            \"open_issues_count\": 4,\n            \"license\": null,\n            \"allow_forking\": true,\n            \"is_template\": false,\n            \"web_commit_signoff_required\": false,\n            \"topics\": [],\n            \"visibility\": \"public\",\n            \"forks\": 0,\n            \"open_issues\": 4,\n            \"watchers\": 0,\n            \"default_branch\": \"main\",\n            \"allow_squash_merge\": true,\n            \"allow_merge_commit\": true,\n            \"allow_rebase_merge\": true,\n            \"allow_auto_merge\": false,\n            \"delete_branch_on_merge\": false,\n            \"allow_update_branch\": false,\n            \"use_squash_pr_title_as_default\": false,\n            \"squash_merge_commit_message\": \"COMMIT_MESSAGES\",\n            \"squash_merge_commit_title\": \"COMMIT_OR_PR_TITLE\",\n            \"merge_commit_message\": \"PR_TITLE\",\n            \"merge_commit_title\": \"MERGE_MESSAGE\"\n          }\n        },\n        \"base\": {\n          \"label\": \"grvermeulen:main\",\n          \"ref\": \"main\",\n          \"sha\": \"fb45532cd181cee5d0699ecf654fcc6a68c39166\",\n          \"user\": {\n            \"login\": \"grvermeulen\",\n            \"id\": 30321659,\n            \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n            \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n            \"gravatar_id\": \"\",\n            \"url\": \"https://api.github.com/users/grvermeulen\",\n            \"html_url\": \"https://github.com/grvermeulen\",\n            \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n            \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n            \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n            \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n            \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n            \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n            \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n            \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n            \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n            \"type\": \"User\",\n            \"user_view_type\": \"public\",\n            \"site_admin\": false\n          },\n          \"repo\": {\n            \"id\": 1000459881,\n            \"node_id\": \"R_kgDOO6HOaQ\",\n            \"name\": \"CCS-demo\",\n            \"full_name\": \"grvermeulen/CCS-demo\",\n            \"private\": false,\n            \"owner\": {\n              \"login\": \"grvermeulen\",\n              \"id\": 30321659,\n              \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n              \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n              \"gravatar_id\": \"\",\n              \"url\": \"https://api.github.com/users/grvermeulen\",\n              \"html_url\": \"https://github.com/grvermeulen\",\n              \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n              \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n              \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n              \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n              \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n              \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n              \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n              \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n              \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n              \"type\": \"User\",\n              \"user_view_type\": \"public\",\n              \"site_admin\": false\n            },\n            \"html_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"description\": null,\n            \"fork\": false,\n            \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo\",\n            \"forks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/forks\",\n            \"keys_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/keys{/key_id}\",\n            \"collaborators_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/collaborators{/collaborator}\",\n            \"teams_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/teams\",\n            \"hooks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/hooks\",\n            \"issue_events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/events{/number}\",\n            \"events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/events\",\n            \"assignees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/assignees{/user}\",\n            \"branches_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/branches{/branch}\",\n            \"tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/tags\",\n            \"blobs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/blobs{/sha}\",\n            \"git_tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/tags{/sha}\",\n            \"git_refs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/refs{/sha}\",\n            \"trees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/trees{/sha}\",\n            \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/{sha}\",\n            \"languages_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/languages\",\n            \"stargazers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/stargazers\",\n            \"contributors_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contributors\",\n            \"subscribers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscribers\",\n            \"subscription_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscription\",\n            \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/commits{/sha}\",\n            \"git_commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/commits{/sha}\",\n            \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/comments{/number}\",\n            \"issue_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/comments{/number}\",\n            \"contents_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contents/{+path}\",\n            \"compare_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/compare/{base}...{head}\",\n            \"merges_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/merges\",\n            \"archive_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/{archive_format}{/ref}\",\n            \"downloads_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/downloads\",\n            \"issues_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues{/number}\",\n            \"pulls_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls{/number}\",\n            \"milestones_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/milestones{/number}\",\n            \"notifications_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/notifications{?since,all,participating}\",\n            \"labels_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/labels{/name}\",\n            \"releases_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/releases{/id}\",\n            \"deployments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/deployments\",\n            \"created_at\": \"2025-06-11T20:22:03Z\",\n            \"updated_at\": \"2025-06-11T20:27:01Z\",\n            \"pushed_at\": \"2025-06-17T12:05:06Z\",\n            \"git_url\": \"git://github.com/grvermeulen/CCS-demo.git\",\n            \"ssh_url\": \"git@github.com:grvermeulen/CCS-demo.git\",\n            \"clone_url\": \"https://github.com/grvermeulen/CCS-demo.git\",\n            \"svn_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"homepage\": \"https://CCS-demo.vercel.app\",\n            \"size\": 263,\n            \"stargazers_count\": 0,\n            \"watchers_count\": 0,\n            \"language\": \"HTML\",\n            \"has_issues\": true,\n            \"has_projects\": true,\n            \"has_downloads\": true,\n            \"has_wiki\": true,\n            \"has_pages\": false,\n            \"has_discussions\": false,\n            \"forks_count\": 0,\n            \"mirror_url\": null,\n            \"archived\": false,\n            \"disabled\": false,\n            \"open_issues_count\": 4,\n            \"license\": null,\n            \"allow_forking\": true,\n            \"is_template\": false,\n            \"web_commit_signoff_required\": false,\n            \"topics\": [],\n            \"visibility\": \"public\",\n            \"forks\": 0,\n            \"open_issues\": 4,\n            \"watchers\": 0,\n            \"default_branch\": \"main\",\n            \"allow_squash_merge\": true,\n            \"allow_merge_commit\": true,\n            \"allow_rebase_merge\": true,\n            \"allow_auto_merge\": false,\n            \"delete_branch_on_merge\": false,\n            \"allow_update_branch\": false,\n            \"use_squash_pr_title_as_default\": false,\n            \"squash_merge_commit_message\": \"COMMIT_MESSAGES\",\n            \"squash_merge_commit_title\": \"COMMIT_OR_PR_TITLE\",\n            \"merge_commit_message\": \"PR_TITLE\",\n            \"merge_commit_title\": \"MERGE_MESSAGE\"\n          }\n        },\n        \"_links\": {\n          \"self\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/4\"\n          },\n          \"html\": {\n            \"href\": \"https://github.com/grvermeulen/CCS-demo/pull/4\"\n          },\n          \"issue\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/4\"\n          },\n          \"comments\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/4/comments\"\n          },\n          \"review_comments\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/4/comments\"\n          },\n          \"review_comment\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/comments{/number}\"\n          },\n          \"commits\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/4/commits\"\n          },\n          \"statuses\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/de13a77da01ca5d3d3007bee95ba0e35848d9c1b\"\n          }\n        },\n        \"author_association\": \"OWNER\",\n        \"auto_merge\": null,\n        \"active_lock_reason\": null,\n        \"merged\": false,\n        \"mergeable\": null,\n        \"rebaseable\": null,\n        \"mergeable_state\": \"unknown\",\n        \"merged_by\": null,\n        \"comments\": 0,\n        \"review_comments\": 0,\n        \"maintainer_can_modify\": false,\n        \"commits\": 1,\n        \"additions\": 2,\n        \"deletions\": 0,\n        \"changed_files\": 2\n      },\n      \"repository\": {\n        \"id\": 1000459881,\n        \"node_id\": \"R_kgDOO6HOaQ\",\n        \"name\": \"CCS-demo\",\n        \"full_name\": \"grvermeulen/CCS-demo\",\n        \"private\": false,\n        \"owner\": {\n          \"login\": \"grvermeulen\",\n          \"id\": 30321659,\n          \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n          \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n          \"gravatar_id\": \"\",\n          \"url\": \"https://api.github.com/users/grvermeulen\",\n          \"html_url\": \"https://github.com/grvermeulen\",\n          \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n          \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n          \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n          \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n          \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n          \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n          \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n          \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n          \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n          \"type\": \"User\",\n          \"user_view_type\": \"public\",\n          \"site_admin\": false\n        },\n        \"html_url\": \"https://github.com/grvermeulen/CCS-demo\",\n        \"description\": null,\n        \"fork\": false,\n        \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo\",\n        \"forks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/forks\",\n        \"keys_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/keys{/key_id}\",\n        \"collaborators_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/collaborators{/collaborator}\",\n        \"teams_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/teams\",\n        \"hooks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/hooks\",\n        \"issue_events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/events{/number}\",\n        \"events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/events\",\n        \"assignees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/assignees{/user}\",\n        \"branches_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/branches{/branch}\",\n        \"tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/tags\",\n        \"blobs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/blobs{/sha}\",\n        \"git_tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/tags{/sha}\",\n        \"git_refs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/refs{/sha}\",\n        \"trees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/trees{/sha}\",\n        \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/{sha}\",\n        \"languages_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/languages\",\n        \"stargazers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/stargazers\",\n        \"contributors_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contributors\",\n        \"subscribers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscribers\",\n        \"subscription_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscription\",\n        \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/commits{/sha}\",\n        \"git_commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/commits{/sha}\",\n        \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/comments{/number}\",\n        \"issue_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/comments{/number}\",\n        \"contents_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contents/{+path}\",\n        \"compare_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/compare/{base}...{head}\",\n        \"merges_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/merges\",\n        \"archive_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/{archive_format}{/ref}\",\n        \"downloads_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/downloads\",\n        \"issues_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues{/number}\",\n        \"pulls_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls{/number}\",\n        \"milestones_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/milestones{/number}\",\n        \"notifications_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/notifications{?since,all,participating}\",\n        \"labels_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/labels{/name}\",\n        \"releases_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/releases{/id}\",\n        \"deployments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/deployments\",\n        \"created_at\": \"2025-06-11T20:22:03Z\",\n        \"updated_at\": \"2025-06-11T20:27:01Z\",\n        \"pushed_at\": \"2025-06-17T12:05:06Z\",\n        \"git_url\": \"git://github.com/grvermeulen/CCS-demo.git\",\n        \"ssh_url\": \"git@github.com:grvermeulen/CCS-demo.git\",\n        \"clone_url\": \"https://github.com/grvermeulen/CCS-demo.git\",\n        \"svn_url\": \"https://github.com/grvermeulen/CCS-demo\",\n        \"homepage\": \"https://CCS-demo.vercel.app\",\n        \"size\": 263,\n        \"stargazers_count\": 0,\n        \"watchers_count\": 0,\n        \"language\": \"HTML\",\n        \"has_issues\": true,\n        \"has_projects\": true,\n        \"has_downloads\": true,\n        \"has_wiki\": true,\n        \"has_pages\": false,\n        \"has_discussions\": false,\n        \"forks_count\": 0,\n        \"mirror_url\": null,\n        \"archived\": false,\n        \"disabled\": false,\n        \"open_issues_count\": 4,\n        \"license\": null,\n        \"allow_forking\": true,\n        \"is_template\": false,\n        \"web_commit_signoff_required\": false,\n        \"topics\": [],\n        \"visibility\": \"public\",\n        \"forks\": 0,\n        \"open_issues\": 4,\n        \"watchers\": 0,\n        \"default_branch\": \"main\"\n      },\n      \"sender\": {\n        \"login\": \"grvermeulen\",\n        \"id\": 30321659,\n        \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n        \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n        \"gravatar_id\": \"\",\n        \"url\": \"https://api.github.com/users/grvermeulen\",\n        \"html_url\": \"https://github.com/grvermeulen\",\n        \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n        \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n        \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n        \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n        \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n        \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n        \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n        \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n        \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n        \"type\": \"User\",\n        \"user_view_type\": \"public\",\n        \"site_admin\": false\n      }\n    },\n    \"headers\": {\n      \"host\": \"grvermeulen.app.n8n.cloud\",\n      \"user-agent\": \"GitHub-Hookshot/fb6e15e\",\n      \"content-length\": \"22609\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, br\",\n      \"cdn-loop\": \"cloudflare; loops=1; subreqs=1\",\n      \"cf-connecting-ip\": \"140.82.115.101\",\n      \"cf-ew-via\": \"15\",\n      \"cf-ipcountry\": \"US\",\n      \"cf-ray\": \"95126a21477e59c2-IAD\",\n      \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n      \"cf-worker\": \"n8n.cloud\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"140.82.115.101, 172.70.35.180\",\n      \"x-forwarded-host\": \"grvermeulen.app.n8n.cloud\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"traefik-prod-users-gwc-37-d47f5fc8c-hggrq\",\n      \"x-github-delivery\": \"568870f0-4b73-11f0-8929-3f87db32f1af\",\n      \"x-github-event\": \"pull_request\",\n      \"x-github-hook-id\": \"552781635\",\n      \"x-github-hook-installation-target-id\": \"1000459881\",\n      \"x-github-hook-installation-target-type\": \"repository\",\n      \"x-is-trusted\": \"yes\",\n      \"x-real-ip\": \"140.82.115.101\"\n    },\n    \"query\": {}\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 420],
      "id": "bd825435-dd1e-450b-a822-097c32e31c70",
      "name": "Non Functional PR Mock"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"body\": {\n      \"action\": \"synchronize\",\n      \"number\": 2,\n      \"pull_request\": {\n        \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/2\",\n        \"id\": 2585501808,\n        \"node_id\": \"PR_kwDOO6HOac6aG6Bw\",\n        \"html_url\": \"https://github.com/grvermeulen/CCS-demo/pull/2\",\n        \"diff_url\": \"https://github.com/grvermeulen/CCS-demo/pull/2.diff\",\n        \"patch_url\": \"https://github.com/grvermeulen/CCS-demo/pull/2.patch\",\n        \"issue_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/2\",\n        \"number\": 2,\n        \"state\": \"open\",\n        \"locked\": false,\n        \"title\": \"change: implement combining line items same type. github issue: #1\",\n        \"user\": {\n          \"login\": \"grvermeulen\",\n          \"id\": 30321659,\n          \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n          \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n          \"gravatar_id\": \"\",\n          \"url\": \"https://api.github.com/users/grvermeulen\",\n          \"html_url\": \"https://github.com/grvermeulen\",\n          \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n          \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n          \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n          \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n          \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n          \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n          \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n          \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n          \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n          \"type\": \"User\",\n          \"user_view_type\": \"public\",\n          \"site_admin\": false\n        },\n        \"body\": null,\n        \"created_at\": \"2025-06-11T21:55:16Z\",\n        \"updated_at\": \"2025-06-18T09:16:32Z\",\n        \"closed_at\": null,\n        \"merged_at\": null,\n        \"merge_commit_sha\": \"e0b2f9c81d3770e97ecc33ceff9d91a218a58e10\",\n        \"assignee\": null,\n        \"assignees\": [],\n        \"requested_reviewers\": [],\n        \"requested_teams\": [],\n        \"labels\": [],\n        \"milestone\": null,\n        \"draft\": false,\n        \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/2/commits\",\n        \"review_comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/2/comments\",\n        \"review_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/comments{/number}\",\n        \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/2/comments\",\n        \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/f048bc4c0db8954ce4bc2408acdc95a69e819b0b\",\n        \"head\": {\n          \"label\": \"grvermeulen:line-items-combined\",\n          \"ref\": \"line-items-combined\",\n          \"sha\": \"f048bc4c0db8954ce4bc2408acdc95a69e819b0b\",\n          \"user\": {\n            \"login\": \"grvermeulen\",\n            \"id\": 30321659,\n            \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n            \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n            \"gravatar_id\": \"\",\n            \"url\": \"https://api.github.com/users/grvermeulen\",\n            \"html_url\": \"https://github.com/grvermeulen\",\n            \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n            \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n            \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n            \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n            \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n            \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n            \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n            \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n            \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n            \"type\": \"User\",\n            \"user_view_type\": \"public\",\n            \"site_admin\": false\n          },\n          \"repo\": {\n            \"id\": 1000459881,\n            \"node_id\": \"R_kgDOO6HOaQ\",\n            \"name\": \"CCS-demo\",\n            \"full_name\": \"grvermeulen/CCS-demo\",\n            \"private\": false,\n            \"owner\": {\n              \"login\": \"grvermeulen\",\n              \"id\": 30321659,\n              \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n              \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n              \"gravatar_id\": \"\",\n              \"url\": \"https://api.github.com/users/grvermeulen\",\n              \"html_url\": \"https://github.com/grvermeulen\",\n              \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n              \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n              \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n              \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n              \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n              \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n              \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n              \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n              \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n              \"type\": \"User\",\n              \"user_view_type\": \"public\",\n              \"site_admin\": false\n            },\n            \"html_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"description\": null,\n            \"fork\": false,\n            \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo\",\n            \"forks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/forks\",\n            \"keys_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/keys{/key_id}\",\n            \"collaborators_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/collaborators{/collaborator}\",\n            \"teams_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/teams\",\n            \"hooks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/hooks\",\n            \"issue_events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/events{/number}\",\n            \"events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/events\",\n            \"assignees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/assignees{/user}\",\n            \"branches_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/branches{/branch}\",\n            \"tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/tags\",\n            \"blobs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/blobs{/sha}\",\n            \"git_tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/tags{/sha}\",\n            \"git_refs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/refs{/sha}\",\n            \"trees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/trees{/sha}\",\n            \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/{sha}\",\n            \"languages_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/languages\",\n            \"stargazers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/stargazers\",\n            \"contributors_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contributors\",\n            \"subscribers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscribers\",\n            \"subscription_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscription\",\n            \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/commits{/sha}\",\n            \"git_commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/commits{/sha}\",\n            \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/comments{/number}\",\n            \"issue_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/comments{/number}\",\n            \"contents_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contents/{+path}\",\n            \"compare_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/compare/{base}...{head}\",\n            \"merges_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/merges\",\n            \"archive_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/{archive_format}{/ref}\",\n            \"downloads_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/downloads\",\n            \"issues_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues{/number}\",\n            \"pulls_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls{/number}\",\n            \"milestones_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/milestones{/number}\",\n            \"notifications_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/notifications{?since,all,participating}\",\n            \"labels_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/labels{/name}\",\n            \"releases_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/releases{/id}\",\n            \"deployments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/deployments\",\n            \"created_at\": \"2025-06-11T20:22:03Z\",\n            \"updated_at\": \"2025-06-18T09:12:48Z\",\n            \"pushed_at\": \"2025-06-18T09:16:31Z\",\n            \"git_url\": \"git://github.com/grvermeulen/CCS-demo.git\",\n            \"ssh_url\": \"git@github.com:grvermeulen/CCS-demo.git\",\n            \"clone_url\": \"https://github.com/grvermeulen/CCS-demo.git\",\n            \"svn_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"homepage\": \"https://CCS-demo.vercel.app\",\n            \"size\": 267,\n            \"stargazers_count\": 0,\n            \"watchers_count\": 0,\n            \"language\": \"HTML\",\n            \"has_issues\": true,\n            \"has_projects\": true,\n            \"has_downloads\": true,\n            \"has_wiki\": true,\n            \"has_pages\": false,\n            \"has_discussions\": false,\n            \"forks_count\": 0,\n            \"mirror_url\": null,\n            \"archived\": false,\n            \"disabled\": false,\n            \"open_issues_count\": 4,\n            \"license\": null,\n            \"allow_forking\": true,\n            \"is_template\": false,\n            \"web_commit_signoff_required\": false,\n            \"topics\": [],\n            \"visibility\": \"public\",\n            \"forks\": 0,\n            \"open_issues\": 4,\n            \"watchers\": 0,\n            \"default_branch\": \"main\",\n            \"allow_squash_merge\": true,\n            \"allow_merge_commit\": true,\n            \"allow_rebase_merge\": true,\n            \"allow_auto_merge\": false,\n            \"delete_branch_on_merge\": false,\n            \"allow_update_branch\": false,\n            \"use_squash_pr_title_as_default\": false,\n            \"squash_merge_commit_message\": \"COMMIT_MESSAGES\",\n            \"squash_merge_commit_title\": \"COMMIT_OR_PR_TITLE\",\n            \"merge_commit_message\": \"PR_TITLE\",\n            \"merge_commit_title\": \"MERGE_MESSAGE\"\n          }\n        },\n        \"base\": {\n          \"label\": \"grvermeulen:main\",\n          \"ref\": \"main\",\n          \"sha\": \"b6b9556083bc85523a386957b20e8518b47de729\",\n          \"user\": {\n            \"login\": \"grvermeulen\",\n            \"id\": 30321659,\n            \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n            \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n            \"gravatar_id\": \"\",\n            \"url\": \"https://api.github.com/users/grvermeulen\",\n            \"html_url\": \"https://github.com/grvermeulen\",\n            \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n            \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n            \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n            \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n            \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n            \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n            \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n            \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n            \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n            \"type\": \"User\",\n            \"user_view_type\": \"public\",\n            \"site_admin\": false\n          },\n          \"repo\": {\n            \"id\": 1000459881,\n            \"node_id\": \"R_kgDOO6HOaQ\",\n            \"name\": \"CCS-demo\",\n            \"full_name\": \"grvermeulen/CCS-demo\",\n            \"private\": false,\n            \"owner\": {\n              \"login\": \"grvermeulen\",\n              \"id\": 30321659,\n              \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n              \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n              \"gravatar_id\": \"\",\n              \"url\": \"https://api.github.com/users/grvermeulen\",\n              \"html_url\": \"https://github.com/grvermeulen\",\n              \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n              \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n              \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n              \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n              \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n              \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n              \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n              \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n              \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n              \"type\": \"User\",\n              \"user_view_type\": \"public\",\n              \"site_admin\": false\n            },\n            \"html_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"description\": null,\n            \"fork\": false,\n            \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo\",\n            \"forks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/forks\",\n            \"keys_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/keys{/key_id}\",\n            \"collaborators_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/collaborators{/collaborator}\",\n            \"teams_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/teams\",\n            \"hooks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/hooks\",\n            \"issue_events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/events{/number}\",\n            \"events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/events\",\n            \"assignees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/assignees{/user}\",\n            \"branches_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/branches{/branch}\",\n            \"tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/tags\",\n            \"blobs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/blobs{/sha}\",\n            \"git_tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/tags{/sha}\",\n            \"git_refs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/refs{/sha}\",\n            \"trees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/trees{/sha}\",\n            \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/{sha}\",\n            \"languages_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/languages\",\n            \"stargazers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/stargazers\",\n            \"contributors_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contributors\",\n            \"subscribers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscribers\",\n            \"subscription_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscription\",\n            \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/commits{/sha}\",\n            \"git_commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/commits{/sha}\",\n            \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/comments{/number}\",\n            \"issue_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/comments{/number}\",\n            \"contents_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contents/{+path}\",\n            \"compare_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/compare/{base}...{head}\",\n            \"merges_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/merges\",\n            \"archive_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/{archive_format}{/ref}\",\n            \"downloads_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/downloads\",\n            \"issues_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues{/number}\",\n            \"pulls_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls{/number}\",\n            \"milestones_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/milestones{/number}\",\n            \"notifications_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/notifications{?since,all,participating}\",\n            \"labels_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/labels{/name}\",\n            \"releases_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/releases{/id}\",\n            \"deployments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/deployments\",\n            \"created_at\": \"2025-06-11T20:22:03Z\",\n            \"updated_at\": \"2025-06-18T09:12:48Z\",\n            \"pushed_at\": \"2025-06-18T09:16:31Z\",\n            \"git_url\": \"git://github.com/grvermeulen/CCS-demo.git\",\n            \"ssh_url\": \"git@github.com:grvermeulen/CCS-demo.git\",\n            \"clone_url\": \"https://github.com/grvermeulen/CCS-demo.git\",\n            \"svn_url\": \"https://github.com/grvermeulen/CCS-demo\",\n            \"homepage\": \"https://CCS-demo.vercel.app\",\n            \"size\": 267,\n            \"stargazers_count\": 0,\n            \"watchers_count\": 0,\n            \"language\": \"HTML\",\n            \"has_issues\": true,\n            \"has_projects\": true,\n            \"has_downloads\": true,\n            \"has_wiki\": true,\n            \"has_pages\": false,\n            \"has_discussions\": false,\n            \"forks_count\": 0,\n            \"mirror_url\": null,\n            \"archived\": false,\n            \"disabled\": false,\n            \"open_issues_count\": 4,\n            \"license\": null,\n            \"allow_forking\": true,\n            \"is_template\": false,\n            \"web_commit_signoff_required\": false,\n            \"topics\": [],\n            \"visibility\": \"public\",\n            \"forks\": 0,\n            \"open_issues\": 4,\n            \"watchers\": 0,\n            \"default_branch\": \"main\",\n            \"allow_squash_merge\": true,\n            \"allow_merge_commit\": true,\n            \"allow_rebase_merge\": true,\n            \"allow_auto_merge\": false,\n            \"delete_branch_on_merge\": false,\n            \"allow_update_branch\": false,\n            \"use_squash_pr_title_as_default\": false,\n            \"squash_merge_commit_message\": \"COMMIT_MESSAGES\",\n            \"squash_merge_commit_title\": \"COMMIT_OR_PR_TITLE\",\n            \"merge_commit_message\": \"PR_TITLE\",\n            \"merge_commit_title\": \"MERGE_MESSAGE\"\n          }\n        },\n        \"_links\": {\n          \"self\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/2\"\n          },\n          \"html\": {\n            \"href\": \"https://github.com/grvermeulen/CCS-demo/pull/2\"\n          },\n          \"issue\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/2\"\n          },\n          \"comments\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/2/comments\"\n          },\n          \"review_comments\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/2/comments\"\n          },\n          \"review_comment\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/comments{/number}\"\n          },\n          \"commits\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls/2/commits\"\n          },\n          \"statuses\": {\n            \"href\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/f048bc4c0db8954ce4bc2408acdc95a69e819b0b\"\n          }\n        },\n        \"author_association\": \"OWNER\",\n        \"auto_merge\": null,\n        \"active_lock_reason\": null,\n        \"merged\": false,\n        \"mergeable\": null,\n        \"rebaseable\": null,\n        \"mergeable_state\": \"unknown\",\n        \"merged_by\": null,\n        \"comments\": 1,\n        \"review_comments\": 0,\n        \"maintainer_can_modify\": false,\n        \"commits\": 1,\n        \"additions\": 34,\n        \"deletions\": 7,\n        \"changed_files\": 2\n      },\n      \"before\": \"e54d64211b648aa15c9d49a806cdb5fca2b523e8\",\n      \"after\": \"f048bc4c0db8954ce4bc2408acdc95a69e819b0b\",\n      \"repository\": {\n        \"id\": 1000459881,\n        \"node_id\": \"R_kgDOO6HOaQ\",\n        \"name\": \"CCS-demo\",\n        \"full_name\": \"grvermeulen/CCS-demo\",\n        \"private\": false,\n        \"owner\": {\n          \"login\": \"grvermeulen\",\n          \"id\": 30321659,\n          \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n          \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n          \"gravatar_id\": \"\",\n          \"url\": \"https://api.github.com/users/grvermeulen\",\n          \"html_url\": \"https://github.com/grvermeulen\",\n          \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n          \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n          \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n          \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n          \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n          \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n          \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n          \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n          \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n          \"type\": \"User\",\n          \"user_view_type\": \"public\",\n          \"site_admin\": false\n        },\n        \"html_url\": \"https://github.com/grvermeulen/CCS-demo\",\n        \"description\": null,\n        \"fork\": false,\n        \"url\": \"https://api.github.com/repos/grvermeulen/CCS-demo\",\n        \"forks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/forks\",\n        \"keys_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/keys{/key_id}\",\n        \"collaborators_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/collaborators{/collaborator}\",\n        \"teams_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/teams\",\n        \"hooks_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/hooks\",\n        \"issue_events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/events{/number}\",\n        \"events_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/events\",\n        \"assignees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/assignees{/user}\",\n        \"branches_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/branches{/branch}\",\n        \"tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/tags\",\n        \"blobs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/blobs{/sha}\",\n        \"git_tags_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/tags{/sha}\",\n        \"git_refs_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/refs{/sha}\",\n        \"trees_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/trees{/sha}\",\n        \"statuses_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/statuses/{sha}\",\n        \"languages_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/languages\",\n        \"stargazers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/stargazers\",\n        \"contributors_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contributors\",\n        \"subscribers_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscribers\",\n        \"subscription_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/subscription\",\n        \"commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/commits{/sha}\",\n        \"git_commits_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/git/commits{/sha}\",\n        \"comments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/comments{/number}\",\n        \"issue_comment_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues/comments{/number}\",\n        \"contents_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/contents/{+path}\",\n        \"compare_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/compare/{base}...{head}\",\n        \"merges_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/merges\",\n        \"archive_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/{archive_format}{/ref}\",\n        \"downloads_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/downloads\",\n        \"issues_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/issues{/number}\",\n        \"pulls_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/pulls{/number}\",\n        \"milestones_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/milestones{/number}\",\n        \"notifications_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/notifications{?since,all,participating}\",\n        \"labels_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/labels{/name}\",\n        \"releases_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/releases{/id}\",\n        \"deployments_url\": \"https://api.github.com/repos/grvermeulen/CCS-demo/deployments\",\n        \"created_at\": \"2025-06-11T20:22:03Z\",\n        \"updated_at\": \"2025-06-18T09:12:48Z\",\n        \"pushed_at\": \"2025-06-18T09:16:31Z\",\n        \"git_url\": \"git://github.com/grvermeulen/CCS-demo.git\",\n        \"ssh_url\": \"git@github.com:grvermeulen/CCS-demo.git\",\n        \"clone_url\": \"https://github.com/grvermeulen/CCS-demo.git\",\n        \"svn_url\": \"https://github.com/grvermeulen/CCS-demo\",\n        \"homepage\": \"https://CCS-demo.vercel.app\",\n        \"size\": 267,\n        \"stargazers_count\": 0,\n        \"watchers_count\": 0,\n        \"language\": \"HTML\",\n        \"has_issues\": true,\n        \"has_projects\": true,\n        \"has_downloads\": true,\n        \"has_wiki\": true,\n        \"has_pages\": false,\n        \"has_discussions\": false,\n        \"forks_count\": 0,\n        \"mirror_url\": null,\n        \"archived\": false,\n        \"disabled\": false,\n        \"open_issues_count\": 4,\n        \"license\": null,\n        \"allow_forking\": true,\n        \"is_template\": false,\n        \"web_commit_signoff_required\": false,\n        \"topics\": [],\n        \"visibility\": \"public\",\n        \"forks\": 0,\n        \"open_issues\": 4,\n        \"watchers\": 0,\n        \"default_branch\": \"main\"\n      },\n      \"sender\": {\n        \"login\": \"grvermeulen\",\n        \"id\": 30321659,\n        \"node_id\": \"MDQ6VXNlcjMwMzIxNjU5\",\n        \"avatar_url\": \"https://avatars.githubusercontent.com/u/30321659?v=4\",\n        \"gravatar_id\": \"\",\n        \"url\": \"https://api.github.com/users/grvermeulen\",\n        \"html_url\": \"https://github.com/grvermeulen\",\n        \"followers_url\": \"https://api.github.com/users/grvermeulen/followers\",\n        \"following_url\": \"https://api.github.com/users/grvermeulen/following{/other_user}\",\n        \"gists_url\": \"https://api.github.com/users/grvermeulen/gists{/gist_id}\",\n        \"starred_url\": \"https://api.github.com/users/grvermeulen/starred{/owner}{/repo}\",\n        \"subscriptions_url\": \"https://api.github.com/users/grvermeulen/subscriptions\",\n        \"organizations_url\": \"https://api.github.com/users/grvermeulen/orgs\",\n        \"repos_url\": \"https://api.github.com/users/grvermeulen/repos\",\n        \"events_url\": \"https://api.github.com/users/grvermeulen/events{/privacy}\",\n        \"received_events_url\": \"https://api.github.com/users/grvermeulen/received_events\",\n        \"type\": \"User\",\n        \"user_view_type\": \"public\",\n        \"site_admin\": false\n      }\n    },\n    \"headers\": {\n      \"host\": \"grvermeulen.app.n8n.cloud\",\n      \"user-agent\": \"GitHub-Hookshot/fb6e15e\",\n      \"content-length\": \"22816\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, br\",\n      \"cdn-loop\": \"cloudflare; loops=1; subreqs=1\",\n      \"cf-connecting-ip\": \"140.82.115.79\",\n      \"cf-ew-via\": \"15\",\n      \"cf-ipcountry\": \"US\",\n      \"cf-ray\": \"9519b043274cb4a5-IAD\",\n      \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n      \"cf-worker\": \"n8n.cloud\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"140.82.115.79, 104.23.211.74\",\n      \"x-forwarded-host\": \"grvermeulen.app.n8n.cloud\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"traefik-prod-users-gwc-37-d47f5fc8c-p4jjw\",\n      \"x-github-delivery\": \"ecbeb460-4c24-11f0-8389-29caf69efd5e\",\n      \"x-github-event\": \"pull_request\",\n      \"x-github-hook-id\": \"552956279\",\n      \"x-github-hook-installation-target-id\": \"1000459881\",\n      \"x-github-hook-installation-target-type\": \"repository\",\n      \"x-is-trusted\": \"yes\",\n      \"x-real-ip\": \"140.82.115.79\"\n    },\n    \"query\": {}\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 220],
      "id": "52bb1969-bfe5-4aeb-9a71-6ce97af8842e",
      "name": "Functional PR Mock"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1460, 420],
      "id": "b1bf2c36-b855-401b-8ec6-aa7971b0537e",
      "name": "Wait For Preview Environment",
      "webhookId": "e7581949-32a7-4f26-baf0-737a33a2341a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "454e072a-eb00-47e6-a02e-855d6bfd54cd",
              "leftValue": "={{ $json[\"functional-pr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [20, 320],
      "id": "962cee1d-695f-4ff4-8867-32765c34560f",
      "name": "If"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [1800, 640],
      "id": "a024fc34-7e28-4d01-ac56-aab8a0eeb7f5",
      "name": "Get preview URL from comments"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1680, 640],
      "id": "6e42598e-f340-4e2c-a547-b3fc174c7e4a",
      "name": "gpt-4.1",
      "credentials": {
        "openAiApi": {
          "id": "V2LMHN8RMyVrMaRr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [680, 640],
      "id": "21c5a38e-94f1-4306-9a8f-ec4165ebe3af",
      "name": "gpt-4o",
      "credentials": {
        "openAiApi": {
          "id": "V2LMHN8RMyVrMaRr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "grvermeulen",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "CCS-demo",
          "mode": "name"
        },
        "pullRequestNumber": "={{ $json.output[\"pull-request-number\"] }}",
        "event": "comment",
        "body": "No functional changes, no testing required.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [1460, 620],
      "id": "13016cf1-ad93-4e11-8cc4-011df19b8c53",
      "name": "GitHub Comment",
      "webhookId": "37304c5a-87ff-4394-a0f6-3f7b130e46b4",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "grvermeulen",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "CCS-demo",
          "mode": "list",
          "cachedResultName": "CCS-demo",
          "cachedResultUrl": "https://github.com/grvermeulen/CCS-demo"
        },
        "pullRequestNumber": "={{ $json.output[\"pull-request-number\"] }}",
        "event": "comment",
        "body": "=## Testcases\n\n{{\n  $json.output.testcases.map(\n    c => `**${c.title}**\\n${c.description}`\n  ).join('\\n\\n')\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [1460, 220],
      "id": "d072bc31-1ce3-4cfb-83ef-a0a730bcb37d",
      "name": "GitHub Testcases Comment",
      "webhookId": "99555e15-f7d4-4976-801e-d7e0d8a3dce3",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"preview-url\": {\n      \"type\": \"string\",\n      \"description\": \"URL for the preview environment where the tests were run.\"\n    },\n     \"pr-number\": {\n      \"type\": \"number\",\n      \"description\": \"Number of the pull request\"\n    },\n    \"success\": {\n      \"type\": \"boolean\",\n      \"description\": \"Overall status indicating if all test cases passed.\"\n    },\n    \"test-results\": {\n      \"type\": \"array\",\n      \"description\": \"An array of results for each individual test case.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"The title of the test case this result refers to.\"\n          },\n          \"passed\": {\n            \"type\": \"boolean\",\n            \"description\": \"The status of the test case. 'true' indicates a pass, 'false' indicates a fail.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A detailed description of the test result, such as an error message.\"\n          }\n        },\n        \"required\": [\n          \"title\",\n          \"passed\",\n          \"description\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"preview-url\",\n    \"pr-number\",\n    \"success\",\n    \"test-results\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [2640, 640],
      "id": "c078f13d-bf51-49df-ac10-d75aa885852e",
      "name": "Browser Agent Structured Output"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needs-testing\": {\n      \"type\": \"boolean\",\n      \"default\": false,\n      \"description\": \"Indicates if the pull request needs testing.\"\n    },\n    \"pull-request-number\": {\n      \"type\": \"number\",\n      \"description\": \"The number of the pull request.\"\n    },\n    \"pull-request-comments-url\": {\n      \"type\": \"string\",\n      \"description\": \"The URL of the pull request comments.\"\n    },\n    \"testcases\": {\n      \"type\": \"array\",\n      \"description\": \"A list of test case objects.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"The title of the test case.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"The description of the test case.\"\n          }\n        },\n        \"required\": [\n          \"title\",\n          \"description\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"needs-testing\",\n    \"pull-request-number\",\n    \"pull-request-comments-url\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1040, 640],
      "id": "8d5ac207-22b8-423d-84a6-6d0d3347253c",
      "name": "Testplan Agent Structured Output"
    },
    {
      "parameters": {
        "profileName": "={{ $json.profile_name }}",
        "additionalFields": {}
      },
      "id": "666d9a0c-4661-4446-bf7f-7fc8b0b81b73",
      "name": "Session",
      "type": "n8n-nodes-base.airtop",
      "position": [20, 880],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "getLiveView": true,
        "additionalFields": {}
      },
      "id": "24094d0b-4026-4a3b-a7c2-4e811499aa12",
      "name": "Window",
      "type": "n8n-nodes-base.airtop",
      "position": [240, 880],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a0680af-39bd-4bc7-b9cd-84c1766c79a1",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Session').item.json.sessionId }}"
            },
            {
              "id": "13940ee8-c1d4-4718-a7b4-176c44c097b7",
              "name": "windowId",
              "type": "string",
              "value": "={{ $('Window').item.json.data.windowId }}"
            },
            {
              "id": "a0f2005c-2cd2-4a8d-891b-a4759b72a124",
              "name": "output",
              "type": "string",
              "value": "Session and window created successfully"
            },
            {
              "id": "a681af5f-57aa-4a8c-8264-3e87d5661bef",
              "name": "liveUrl",
              "value": "={{ $json.data.liveViewUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b19ea3be-ee00-48a9-be85-f402844d0451",
      "name": "Return IDs",
      "type": "n8n-nodes-base.set",
      "position": [460, 880],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "profile_name"
            }
          ]
        }
      },
      "id": "9b31e603-16e0-4f24-9029-166717eb9f0e",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [-200, 880],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Click on any element in the window",
        "resource": "interaction",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Describe in detail the element to click on, e.g. The menu item \"about us\" at the top of the page`, 'string') }}",
        "additionalFields": {
          "waitForNavigation": "load"
        }
      },
      "id": "4a5fbe50-403c-45b9-b22e-1c00428380a9",
      "name": "Click",
      "type": "n8n-nodes-base.airtopTool",
      "position": [2040, 640],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query the page, ask and extract information",
        "resource": "extraction",
        "operation": "query",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', `Ask anything and request to extract information from the current page, e.g. \"Is there any sign-up form? yes or no\"`, 'string') }}",
        "additionalFields": {}
      },
      "id": "492c9bb5-8f7b-4668-a3a3-f6667fb915f7",
      "name": "Query",
      "type": "n8n-nodes-base.airtopTool",
      "position": [2160, 640],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Load a URL into the browser window",
        "resource": "window",
        "operation": "load",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "additionalFields": {}
      },
      "id": "2218c9ee-7d1c-4888-9e8d-1a03e577f8ab",
      "name": "Load URL",
      "type": "n8n-nodes-base.airtopTool",
      "position": [2280, 640],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "operation": "terminate",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}"
      },
      "id": "72f26e84-1628-40b8-a781-d5f48d42bdbf",
      "name": "End session",
      "type": "n8n-nodes-base.airtopTool",
      "position": [2400, 640],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "name": "Start_Browser",
        "description": "Start a new browser session and window",
        "workflowId": {
          "__rl": true,
          "value": "IP2f49LKYA3EkM03",
          "mode": "list",
          "cachedResultName": "Agentic PR Test"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "profile_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profile_name', ``, 'string') }}",
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "profile_name",
              "displayName": "profile_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "be831b11-230f-4cf0-8215-0c2c74655da0",
      "name": "Start browser",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [2520, 640],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Type text into the page's element described",
        "resource": "interaction",
        "operation": "type",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "pressEnterKey": true,
        "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Describe in detail the element to type into, e.g. The search box at the top of the page`, 'string') }}",
        "additionalFields": {}
      },
      "id": "69b765fd-c353-4390-a831-6c8d047680ab",
      "name": "Type",
      "type": "n8n-nodes-base.airtopTool",
      "position": [1920, 640],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "grvermeulen",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "CCS-demo",
          "mode": "list",
          "cachedResultName": "CCS-demo",
          "cachedResultUrl": "https://github.com/grvermeulen/CCS-demo"
        },
        "pullRequestNumber": "={{ $json.output[\"pr-number\"] }}",
        "event": "comment",
        "body": "=## Testcases Report\n\n{{ $json.output[\"test-results\"].map(item => `**${item.title}**\\n${item.description}`).join('\\n\\n')}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [2740, 420],
      "id": "dadd089e-2141-4e88-96e7-280fe510d99c",
      "name": "GitHub Results Comment",
      "webhookId": "99555e15-f7d4-4976-801e-d7e0d8a3dce3",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {
    "GitHub Trigger Mock": [
      {
        "json": {
          "functional-pr": true
        }
      }
    ]
  },
  "connections": {
    "Testplan Agent": {
      "main": [
        [
          {
            "node": "Needs testing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Prepare Testplan Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request File Diffs": {
      "ai_tool": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Mock": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Testplan Agent Input": {
      "main": [
        [
          {
            "node": "Testplan Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issue": {
      "ai_tool": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Non Functional PR Mock": {
      "main": [
        [
          {
            "node": "Prepare Testplan Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Functional PR Mock": {
      "main": [
        [
          {
            "node": "Prepare Testplan Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs testing?": {
      "main": [
        [
          {
            "node": "GitHub Testcases Comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait For Preview Environment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Functional PR Mock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non Functional PR Mock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get preview URL from comments": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Preview Environment": {
      "main": [
        [
          {
            "node": "Browser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Testcases Comment": {
      "main": [[]]
    },
    "Browser Agent Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Testplan Agent Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Window": {
      "main": [
        [
          {
            "node": "Return IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session": {
      "main": [
        [
          {
            "node": "Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Load URL": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "End session": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start browser": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Type": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Browser Agent": {
      "main": [
        [
          {
            "node": "GitHub Results Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9165470-3e17-414d-b860-9e03609fc511",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e53efe907444854070074ff6b032b2f91ece1452cce6713a49551ccaae25d2aa"
  },
  "id": "IP2f49LKYA3EkM03",
  "tags": []
}
